html, body {
  margin: 0;
  padding: 0;
  height: auto;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  color: white;
  overflow-x: hidden;
}

.projects-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
  }

  .project-card {
    background: rgba(255, 255, 255, 0.05);
    padding: 1.5rem;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: fadeInUp 0.6s ease both;
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .project-img {
      width: 120px;
      height: 120px;
      object-fit: cover;
      border-radius: 12px;
      flex-shrink: 0;
      box-shadow: 0 0 12px rgba(255, 255, 255, 0.1);
  }

  .project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(131, 193, 223, 0.2);
  }

  .project-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .project-desc {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.8);
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


  @media (max-width: 600px) {
    .project-card {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .project-img {
      width: 100%;
      height: auto;
    }

    .main-title {
      margin-top: 5rem;
    }
  }
  